<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Edit Task</title>
  </head>
  <body>
    <h1>Edit Task</h1>
    <form method="post" action="/edit/<%= item.id %>">
      <label for="task">Task:</label>
      <input
        type="text"
        id="task"
        name="task"
        value="<%= item.task %>"
        required
      />
      <button type="submit">Update Task</button>
    </form>
  </body>
</html>
